#aside-content > .card-widget.card-info {
    background-image: url(https://s2.loli.net/2022/11/29/eAP9j84uCoim1Ic.webp);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%;
  }
  
  [data-theme="dark"] #aside-content > .card-widget.card-info {
    background-image: url(https://s2.loli.net/2022/11/29/eAP9j84uCoim1Ic.webp) !important;
  }



